# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual envs
env/
venv/
.env
.venv
env.bak/
venv.bak/
.conda/
ENV/

# Local data/outputs
data/dataset_processed_new/
data/
dataset/graph_data/
dataset/*.csv
dataset/*.txt
dataset_temp/
old_data/
fig/
log/
checkpoints/
baseline/

# Data files (To prevent pushing large files to GitHub)
# data/
# dataset/
# *.csv
# *.npy
# *.txt

# Model checkpoints and logs
runs/
*.pt
*.pth
*.ckpt
logs/

# IDEs
.vscode/
.idea/
