# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data files (To prevent pushing large files to GitHub)
data/
dataset/
*.csv
*.npy
*.txt

# Model checkpoints and logs
runs/
*.pt
*.pth
*.ckpt
logs/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
